<div class=" ABC footer-logo">
    <img src="../../assets/images/1571585117326.PNG" height=230px; width=230px; alt="footerlogo" >
</div>
<!-- =========================================================================== -->
<!--                                  *** NAVBAR***                              -->
<!-- =========================================================================== -->

<div  class=" container col-lg-12 "id="menu-nav">
  <br>
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link"id="navcontent" [routerLink]="['/']" ><i class="fa fa-home"></i>&nbsp;HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"id="navcontent" [routerLink]="['/about']"><i class="fa fa-user"></i>&nbsp;ABOUT US</a>
      </li>
      <li class="nav-item">  
        <a class="nav-link"id="navcontent"[routerLink]="['/event']"><i class="fa fa-handshake"></i>&nbsp;OUR EVENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"id="navcontent" [routerLink]="['/portfolio']"><i class="fa fa-rss"></i>&nbsp;PORTFOLIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navcontent"[routerLink]="['/contact']"><i class="fa fa-book"></i>&nbsp;CONTACT US</a>
      </li>
    </ul>
    </div>
<br>
<div class="container party-hire">
    <h1 class="heading">Party Hire</h1>
    <p class="subheading">Your Event Hire Specialist</p>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
<!-- ************************************************************* DONE ********************************************************* -->
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->


