<!-- =========================================================================== -->
<!--                                  *** FOOTER ***                             -->
<!-- =========================================================================== -->
<html>
<body>
    <div class="footer-logo">
        <img src="../../assets/images/1571585117326.PNG"  height=250px; width=250px; alt="footerlogo" >
    </div>
<!-- =========================================================================== -->
<!--                                  *** FOOTER ICON***                         -->
<!-- =========================================================================== -->   
<section id="footer" class="section footer">
        <div class="container">
          <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
            <div class="col-sm-12 align-center">
              <ul class="social-network social-circle">
                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                <li><a href="https://www.facebook.com/" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/login?lang=en" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://aboutme.google.com/u/0/?referer=gplus" class="icoGoogle" title="Google +"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="https://www.linkedin.com/login" class="icoLinkedin" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="row align-center mar-bot20">
            <div class="col-sm-12 align-center">
 <!-- =========================================================================== -->
<!--                                  *** FOOTER NAVBAR***                        -->
<!-- ============================================================================ -->
              <ul class="footer-menu">
                <li><a [routerLink]="['/']">HOME</a></li>&nbsp;
                <li><a [routerLink]="['/about']">ABOUT US</a></li>&nbsp;
                <li><a [routerLink]="['/event']">OUR EVENT</a></li>&nbsp;
                <li><a href="#">PORTFOLIO</a></li>&nbsp;
                <li><a  [routerLink]="['/contact']">CONTACT US</a></li>
              </ul>
            </div>
          </div>
          <div class="row align-center copyright">
            <div class="col-sm-12">
              <p>Copyright &copy; All rights reserved</p>
            </div>
          </div>
      </div>
     
    </section>
  <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
    </body>
    </html>
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
<!-- ************************************************************* DONE ********************************************************* -->
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->    