<app-portfolio></app-portfolio>

<br>
<br>

<div class="card-group">
    <div class="card">
      <img src="../../assets/images/SP3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Envato Author Social Event</h5>
        <p class="card-text"><small class="text-muted">Social Event, 14 May 2019</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/SP1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Envato Author Social Event</h5>
        <p class="card-text"><small class="text-muted">Social Event, 24 June 2016</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/SP4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">John Doe Social Event</h5>
        <p class="card-text"><small class="text-muted">Social Event, 14 May 2019</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/SP2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Envato Author Social Event</h5>
        <p class="card-text"><small class="text-muted">Social Event, 14 May 2019</small></p>
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img src="../../assets/images/SP5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">John Doe Social Event</h5>
        <p class="card-text"><small class="text-muted">Social Event, 24 June 2016</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/SP6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Envato Author Social Event</h5>
        <p class="card-text"><small class="text-muted">Social Event, 24 June 2016</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/SP7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">John Doe Social Event</h5>
        <p class="card-text"><small class="text-muted">Social Event, 14 May 2019</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/SP8.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">John Doe Social Event</h5>
        <p class="card-text"><small class="text-muted">Social Event, 24 June 2016</small></p>
      </div>
    </div>
  </div>
