<app-portfolio></app-portfolio>

<br>
<br>

<div class="card-group">
  <div class="card">
    <img src="../../assets/images/BalloonDecoration-BalloonEntry-BP3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Envato Author Birthday Party</h5>
      <p class="card-text"><small class="text-muted">Birthday Event, 14 May 2019</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/BP4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Envato Author Birthday Party</h5>
      <p class="card-text"><small class="text-muted">Birthday Event, 24 June 2016</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/BP2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">John Doe Birthday Party</h5>
      <p class="card-text"><small class="text-muted">Birthday Event, 14 May 2019</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/BP5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Envato Author Birthday Party</h5>
      <p class="card-text"><small class="text-muted">Birthday Event, 14 May 2019</small></p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img src="../../assets/images/BP6.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">John Doe Birthday Party</h5>
      <p class="card-text"><small class="text-muted">Birthday Event, 24 June 2016</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/BP7.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Envato Author Birthday Party</h5>
      <p class="card-text"><small class="text-muted">Birthday Event, 24 June 2016</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/BP9.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">John Doe Birthday Party</h5>
      <p class="card-text"><small class="text-muted">Birthday Event, 14 May 2019</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/BP10.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">John Doe Birthday Party</h5>
      <p class="card-text"><small class="text-muted">Birthday Event, 24 June 2016</small></p>
    </div>
  </div>
</div>