<app-portfolio></app-portfolio>

<br>
<br>

<div class="card-group">
  <div class="card">
    <img src="../../assets/images/WP3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Envato Author Wedding Day</h5>
      <p class="card-text"><small class="text-muted">Wedding Event, 14 May 2019</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/WP1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Envato Author Wedding Day</h5>
      <p class="card-text"><small class="text-muted">Wedding Event, 24 June 2016</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/WP2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">John Doe Wedding Day</h5>
      <p class="card-text"><small class="text-muted">Wedding Event, 14 May 2019</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/WP4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Envato Author Wedding Day</h5>
      <p class="card-text"><small class="text-muted">Wedding Event, 14 May 2019</small></p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img src="../../assets/images/WP5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">John Doe Wedding Day</h5>
      <p class="card-text"><small class="text-muted">Wedding Event, 24 June 2016</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/WP6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Envato Author Wedding Day</h5>
      <p class="card-text"><small class="text-muted">Wedding Event, 24 June 2016</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/WP7.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">John Doe Wedding Day</h5>
      <p class="card-text"><small class="text-muted">Wedding Event, 14 May 2019</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/WP8.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">John Doe Wedding Day</h5>
      <p class="card-text"><small class="text-muted">Wedding Event, 24 June 2016</small></p>
    </div>
  </div>
</div>