<app-portfolio></app-portfolio>
  <br>
  <br>
  
 <div class="card-group">
    <div class="card">
      <img src="../../assets/images/CP1.jpg" class="card-img-top" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>CORPORATE PARTY</h5>
        <p>In Mumbai</p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/WP1.jpg" class="card-img-top" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>WEDDING EVENT</h5>
        <p>In Jaipur</p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/BP1.jpg" class="card-img-top" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>BIRTHDAY PARTY</h5>
        <p>In Delhi</p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/CP2.jpg" class="card-img-top" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>CORPORATE PARTY</h5>
        <p>In Bangalore</p>
      </div>
    </div>
  </div>


  <div class="card-group">
    <div class="card">
      <img src="../../assets/images/BP2.jpg" class="card-img-top" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>BIRTHDAY PARTY</h5>
        <p>In Dehradun</p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/SP1.jpg" class="card-img-top" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>SOCIAL EVENT</h5>
        <p>In Mumbai</p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/WP2.jpg" class="card-img-top" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>WEDDING EVENT</h5>
        <p>In Jaisalmer</p>
      </div>
    </div>
  </div>


  <div class="card-group">
    <div class="card">
      <img src="../../assets/images/CP3.jpg" class="card-img-top" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>CORPORATE PARTY</h5>
        <p>In Pune</p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/BalloonDecoration-BalloonEntry-BP3.jpg" class="card-img-top" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>BIRTHDAY PARTY</h5>
        <p>In Delhi</p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/SP2.jpg" class="card-img-top" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>SOCIAL EVENT</h5>
        <p>In Bangalore</p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/WP3.jpg" class="card-img-top" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>WEDDING EVENT</h5>
        <p>In Gujarat</p>
      </div>
    </div>
  </div>