.card-img-top{
    height: 100%;
}

h5{
    font-weight: bold;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}