/* --------------------------------------------------------- */
/* ======================= GET IN TOUCH ==================== */
/* --------------------------------------------------------- */

/* .container{
	 border-top:rgba(255, 255, 255, 0.171) 8px solid; 
	 background:url(../../assets/images/24796_Blur_w1120_blur.jpg); 
	 background-color: rgba(0, 0, 0, 0.623); 
} */
#getheading{
	border-top:rgba(255, 255, 255, 0.171) 8px solid; 
	background-color: rgba(0, 0, 0, 0.623);
	width:100%;
	height: 200px;
}
.heading-3{
	padding-top: 60px;
	text-align:center;
	font-weight:bold;
	font-size:50px;
	margin-left:50%;
	color:white;
	font-family: 'Kaushan Script', cursive;
}
/* ============== contact ==================== */
.validation {
	display:none;
	margin: 0 0 20px;
	font-weight:400;
	font-size:13px;
}
#sendmessage {
	border:1px solid #fff;
	display:none;
	text-align:center;
	padding:15px 12px 15px;
	margin:10px 0;
	font-weight:600;
	margin-bottom:30px;
}
#sendmessage.show,.show  {
	display:block;
}
#contact-form {
	position: relative;
	z-index: 999;
}
#contact-form input[type=text],#contact-form input[type=email], .contactForm textarea {
	width: 100%;
	background: rgba(227, 231, 228, 1);
	font-family: 'Lato', sans-serif;
	border: 0;
	font-size:14px;
	text-align: left;
	vertical-align: middle;
	padding:0 10px;
}
#contact-form input[type=text]:focus,#contact-form input[type=email]:focus, .contactForm textarea:focus {
	background: rgba(101, 106, 100, 1);
	color: #eff1ef;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	transition: background 0.25 ease-in;
	-moz-transition: background 0.25 ease-in;
	-webkit-transition: background 0.25 ease-in;
}
#contact-form input[type=text],#contact-form input[type=email] {
	height: 60px;
	margin-bottom:30px;
}
#contact-form input[type=submit] {
	color: #fff;
	width: 185px;
	height: 60px;
	text-shadow: none;
	font-size: 14px;
	padding:0.5em;
	letter-spacing: 0.05em;
	margin: 0 0 20px 0;
	display: block;
	border: 0;
	text-transform: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#contact-form input[type=submit]:hover, #contact-form input[type=submit]:active {
	background: #43413e !important;
}
#contact-form textarea {
	padding-top: 1em;
}
textarea.form-control {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
div.cform-response-output {
	max-width: 60%;
	text-align: center;
	margin-left: 40% !important;
	margin-top: 0.5em !important;
	padding: 0.5em !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.cform-not-valid-tip {
	color: #888;
	border: 1px dotted #ad3729 !important;
	width: 100% !important;
	left: 0 !important;
	padding: 0.5em !important;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.btn.btn-theme {
	color: #fff;
}
.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}
#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}
#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}
#sendmessage.show, #errormessage.show, .show {
	display:block;
}
/*------------- contact-form ----------- */
#formcontent{
	background-color:rgba(255, 255, 255, 0.363);
	border-top:rgb(187, 125, 33) 8px solid;
    border-bottom:rgb(187, 125, 33) 8px solid;
}
.icon-envelope-1{
	color:rgb(187, 125, 33);
	font-weight: 700;
	font-size:30px;
	font-family: 'Kaushan Script', cursive;
}
.icon-envelope-2{
	color:rgb(187, 125, 33);
	font-weight: 500;
	font-size:20px;
	font-family: 'Courgette', cursive;
}
/*-------- button send message -------- */
.text-center{
	 color:white;
} 
.btn{
	background-color:rgba(0, 139, 139, 0.61);
}
/* --------------------------------------------------------- */
/* ========================= MAP+++ ======================== */
/* --------------------------------------------------------- */
#google-map{
    position:relative;
    height: 400px;
}
.sub1{
	color:rgb(187, 125, 33);
	font-weight: 700;
	font-size:30px;
	font-family: 'Kaushan Script', cursive;
}
.sub2{
	color:rgb(187, 125, 33);
	font-weight: 500;
	font-size:20px;
	font-family: 'Courgette', cursive;
	font-family: 'Kaushan Script', cursive;
}
/* --------------------------------------------------------- */
/* ======================= FIND US ========================= */
/* --------------------------------------------------------- */
#lastone{
	border-top:rgba(255, 255, 255, 0.171) 8px solid; 
	background-color: rgba(0, 0, 0, 0.623);
	width:100%;
	height: 200px;
}
#lastone2{
	
	padding-top: 60px;
	margin-left:44%;
	font-weight: bold;
	font-size:50px;
	color:white;
	font-family: 'Kaushan Script', cursive;
}
#lastone3{
	width:100%;
	height:200px;
	color:#992f4d;
}
.bottom-text{
	font-size:20px;
	font-weight: 600;
	text-align:center;
	font-family: 'Courgette', cursive;
}
.heading{
	font-size:40px;
	font-weight: 900;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
}
/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ************************************************** DONE *********************************************************************** */
/* ------------------------------------------------------------------------------------------------------------------------------- */