<!-- =========================================================================== -->
<!--                            *** FIRST PHOTO ***                              -->
<!-- =========================================================================== -->
<section id="budget">
    <img src="../../assets/images/1.jpg" alt="Snow" style="width:100%;height: 500px;">
    <div class="centered">Budget Calculator</div>
</section>
<br>
<br>
<div class="calculate">Calculator Your Party Budget!</div>
<br>
<br>
<div class="Reserve">--- ALREADY RESERVED DATES ---</div>

<!-- <table>
  <tr>
    <th class="day-name">Sun</th>
    <th class="day-name">Mon</th>
    <th class="day-name">Tue</th>
    <th class="day-name">Wed</th>
    <th class="day-name">Thu</th>
    <th class="day-name">Fri</th>
    <th class="day-name">Sat</th>
  </tr>
  <tr>
    <td class="day"><span class="number">31</span></td>
    <td class="day"><span class="number">1</span><span class="event"></span><span class="event"></span></td>
    <td class="day"><span class="number">2</span></td>
    <td class="day"><span class="number">3</span><span class="event event-multiday-start"></span></td>
    <td class="day"><span class="number">4</span><span class="event event-multiday"></span><span class="event event-multiday-start eventclass" style="background-color:#5a9ab2;"></span><span class="event"></td>
    <td class="day"><span class="number">5</span><span class="event event-multiday-finish"></span><span class="event event-multiday eventclass" style="background-color:#5a9ab2;"></span></td>
    <td class="day"><span class="number">6</span><span class="event event-ghost"></span><span class="event event-multiday-finish eventclass" style="background-color:#5a9ab2;"></span></td>
  </tr>
  <tr>
    <td class="day"><span class="number">7</span></td>
    <td class="day"><span class="number">8</span><span class="event"></span></td>
    <td class="day"><span class="number">9</span></td>
    <td class="day"><span class="number">10</span></td>
    <td class="day"><span class="number">11</span></td>
    <td class="day"><span class="number">12</span></td>
    <td class="day"><span class="number">13</span></td>
  </tr>
  <tr>
    <td class="day"><span class="number">14</span></td>
    <td class="day"><span class="number">15</span></td>
    <td class="day"><span class="number">16</span><span class="event"></span></td>
    <td class="day"><span class="number">17</span><span class="event"></span></td>
    <td class="day"><span class="number">18</span></td>
    <td class="day"><span class="number">19</span></td>
    <td class="day"><span class="number">20</span></td>
  </tr>
  <tr>
    <td class="day"><span class="number">21</span></td>
    <td class="day"><span class="number">22</span></td>
    <td class="day"><span class="number">23</span></td>
    <td class="day"><span class="number">24</span></td>
    <td class="day"><span class="number">25</span></td>
    <td class="day"><span class="number">26</span></td>
    <td class="day"><span class="number">27</span><span class="event event-multiday-start" style="background-color:#da5f5f;"></td>
  </tr>
  <tr>
    <td class="day"><span class="number">28</span><span class="event event-multiday" style="background-color:#da5f5f;"></td>
    <td class="day today"><span class="number">29</span><span class="event event-multiday-finish" style="background-color:#da5f5f;"></td>
    <td class="day"><span class="number">30</span></td>
    <td class="day"><span class="number">1</span></td>
    <td class="day"><span class="number">2</span></td>
    <td class="day"><span class="number">3</span></td>
    <td class="day"><span class="number">4</span></td>
  </tr>
  <tr>
    <td class="day"><span class="number">5</span></td>
    <td class="day"><span class="number">6</span><span class="event"></span></td>
    <td class="day"><span class="number">7</span></td>
    <td class="day"><span class="number">8</span></td>
    <td class="day"><span class="number">9</span></td>
    <td class="day"><span class="number">10</span></td>
    <td class="day"><span class="number">11</span></td>
  </tr>
</table> -->
<br>
<br>
<br>
<br>
<br>
<br>
<!-- =========================================================================== -->
<!--                                  *** ORDER FORM ***                           -->
<!-- =========================================================================== -->

<!-- -------------------------- (1st part) ---------------------------- -->
<div class="container"id="orderformback">
    <br>
    <form>
        <div class="form-row">
          <br>
            <div class="form-group col-md-6">
                <label for="inputState"id="formoption1">Kind Of Event</label>
                <select id="inputState" class="form-control">
                  <option>Social Event</option>
                  <option>Wedding Event</option>
                  <option>Corporate Event</option>
                  <option>Birthday Event </option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4"id="formoption2">Date Of The Event </label>
                <input type="email" class="form-control" id="inputEmail4"placeholder=" MM/DD/YYYY">
              </div>
        </div>
<!-- -------------------------- (2nd part) ------------------------------ -->
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail3"id="formoption3">Venue/Location</label>
              <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your event location">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4"id="formoption4">Guestlist</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Number of your Guest">
            </div>
          </div>
<!-- -------------------------- (3rd part) ------------------------------ -->
        <div class="food"id="formoption5">--- Type Of Food ---</div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-2 offset-md-1"id="foodoption1">
               <h5 class="subformoptionall"> SNACKS</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Veg</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Non-Veg</label>
                  </div>
                </div>

                <div class="form-group col-md-2 offset-md-1"id="foodoption2">
                    <h5 class="subformoptionall">LUNCH</h5>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Veg</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Non-Veg</label>
                  </div>
            </div>

            <div class="form-group col-md-2 offset-md-1"id="foodoption3">
                <h5 class="subformoptionall">DINNER</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Veg</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Non-Veg</label>
                  </div>
                </div>

                <div class="form-group col-md-2 offset-md-1"id="foodoption4">
                   <h5 class="subformoptionall">CAKE</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">With Egg</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Eggless</label>
                      </div>
                    </div>
        </div>
        <br>
<!-- -------------------------- (4th part)(additional) ------------------------------ -->
<div class="additional">--- Additional Services ---</div>
<br>
<div class="container col-lg-12"style="text-align:center;">

<div class="form-check form-check-inline col-md-4 offset-md-2 ">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxa" value="option1">
    <label class="form-check-label"  for="inlineCheckbox1">Photographers & Videographers</label>
  </div>
  <div class="form-check form-check-inline col-md-4 offset-md-1 ">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxb" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Florists</label>
  </div>
<br>
<br>
  <div class="form-check form-check-inline col-md-4 offset-md-2">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxc" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Entertainment & Entertainers</label>
  </div>
  <div class="form-check form-check-inline col-md-4 offset-md-1">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxd" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Firewoks</label>
  </div>
<br>
<br>
  <div class="form-check form-check-inline col-md-4 offset-md-2">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxe" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Projectors & Speakers</label>
  </div>
  <div class="form-check form-check-inline col-md-4 offset-md-1">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxf" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Decor</label>
  </div>
<br>
<br>
  <div class="form-check form-check-inline col-md-4 offset-md-2">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxg" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Limos & Transportation</label>
  </div>
  <div class="form-check form-check-inline col-md-4 offset-md-1">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxh" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Ballons</label>
  </div>
<br>
<br>
  <div class="form-check form-check-inline col-md-4 offset-md-2">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxi" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Cocktail Bars</label>
  </div>
  <div class="form-check form-check-inline col-md-4 offset-md-1">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxj" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Games</label>
  </div>
<br>
<br>
  <div class="form-check form-check-inline col-md-4 offset-md-2">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxk" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Theme Party</label>
  </div>
  <div class="form-check form-check-inline col-md-4 offset-md-1">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxl" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Dance</label>
  </div>
<br>
<br>
  <div class="form-check form-check-inline col-md-4 offset-md-2">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxm" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Invitation Cards</label>
  </div>
  <div class="form-check form-check-inline col-md-4 offset-md-1">
    <input class="form-check-input" type="checkbox" id="inlineCheckboxn" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Music</label>
  </div>
  
</div>
    </form>
<br>
<h4 class="lastline">----------  For more venue options please contact us! ----------</h4>
<br>
</div>
<br>
<!-- =========================================================================== -->
<!--                            *** RESERVE BUTTON ***                           -->
<!-- =========================================================================== -->

<div class="container"style="text-align:center">
  <div class="card registerbox ">
    <div class="card-body">
  <button type="button" class="btn btn-outline-danger" id="button1" data-toggle="modal" data-target="#staticBackdrop" >
    Reserve Event
  </button> &nbsp;
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Event Reserved</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Thank you!!</h4>
          <h5> We  have reseved a day for your event!</h5>
          <p>(Details will be send to your email)</p>
          <br>
          <h6>"WE TAKE CARE OF PREPARATION, YOU ENJOY THE CELEBRATION!!"</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"[routerLink]="['/event']" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  
<!-- =========================================================================== -->
<!--                               *** LAST BUTTON ***                           -->
<!-- =========================================================================== -->
<br>
<section id="end">
  <img src="../../assets/images/1.jpg" alt="Snow" style="width:100%;height: 500px;">
  <div class="last">"We bring you only good suprises."
<br>
<br>
</div>
</section>
<br>
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
<!-- ************************************************************* DONE ********************************************************* -->
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->