<br>
<nav class="navbar navbar-expand-lg">
    <div class="mx-auto">
            
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/allgallery']">ALL GALLERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/social']">SOCIAL EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/wedding']">WEDDING EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/corporate']">CORPORATE EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/birthday']">BIRTHDAY PARTIES</a>
        </li>
      </ul>
    </div>
  </div>
</nav>