<!-- =========================================================================== -->
<!--                                  *** OUR EVENT***                           -->
<!-- =========================================================================== -->
  <br>
  <br>
  <h1 class="heading jumbotron" id="ourevent" >OUR EVENTS</h1>
  <div class="container"id="mainevent">
    <div class="container">
      <div class="card-columns" style="padding-left: 90px; padding-right: 90px;">
<!-- ------------------------- card-1 ------------------------------------ -->
                <div class="card"id="eventimg1">
                  <img src="../../assets/images/socialevents.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text"id="eventheading1">SOCIAL EVENTS</p>
                  </div>
                </div>
<!-- ------------------------- card-2 ------------------------------------ -->
                <div class="card" id="eventimg2">
                  <img src="../../assets/images/corporateevents.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text"id="eventheading2">CORPORATE EVENTS</p>
                  </div>
                </div>

<!-- ------------------------- card-3 ------------------------------------ -->
                <div class="card"id="eventimg3">
                  <img src="../../assets/images/wine.jpg" class="card-img-top" style="height:540px" alt="...">
                </div>

<!-- ------------------------- card-4 ------------------------------------ -->
                <div class="card"id="eventimh4" >
                  <img src="../../assets/images/weddingevents.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text"id="eventheading4">WEDDING EVENTS</p>
                  </div>
                </div>
                
<!-- ------------------------- card-5 ------------------------------------ -->

                <div class="card" id="eventimg5">
                  <img src="../../assets/images/New-York-Party-Entertainment-For-Kids.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text"id="eventheading5">BIRTHDAY PARTIES</p>
                  </div>
                </div> 
      </div>
    </div>
  <br>
  <br>
  </div>



<!-- =========================================================================== -->
<!--                                  *** OUR SERVICES***                        -->
<!-- =========================================================================== -->
<br>
<br>
<div class="jumbotron text-center "id="ourservice">
  <h1 class="service">OUR SERVICES</h1>
  <p class="subheadservice">Imagination at work</p> 
</div>  
<div class="container" >
  <br>
<!-- ------------------------- card-1 ------------------------------------ -->
<div class="card mb-3 offset-lg-2" style="max-width: 750px;">
  <div class="row no-gutters">
    <div class="col-md-6">
        <div id="carouselExampleControls" class="  carousel slide carousel-fade" data-ride="carousel" width="auto" height="300">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/IMG-20190709-WA0016.jpg"  class="d-block w-100" width="auto" height="300">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/Birthday.jpg" class="d-block w-100" width="auto" height="300" >
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/IMG-20190709-WA0013.jpg" class="d-block w-100" width="auto" height="300" >
    </div>
    </div>
    </div>
    </div>
    
    <div class="col-md-6"id="servicecard1">
      <div class="card-body">
        <h5 class="card-title"id="servicecardheading1">Birthday Specials....</h5>
        <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Party Locations</a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Catering & Food</a>
          </li> 
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Party Rentals & Sales</a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Entertainment & Etertainers</a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Party supplies & Favours</a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>photographers & Videographers</a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Balloons & Flowers</a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Decor & Decorations</a>
          </li>
          <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Theme Parties</a>
            </li>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<!-- ------------------------- card-2 ------------------------------------ -->
<div class="card mb-3  offset-lg-2" style="max-width: 750px;">
  <div class="row no-gutters">
    
    <div class="col-md-6"id="servicecard2">
      <div class="card-body">
        <h5 class="card-title"id="servicecardheading2">Wedding Events....</h5>
        <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Wedding & Engagement Rings</a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Wedding Cake</a>
          </li> 
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Photo & Videos</a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Wedding Invitation Cards</a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Ceremony Locations</a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Ballons & Flowers</a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Limos & Transportation</a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Decor & Decorations</a>
          </li>
      </div>
    </div>
    <div class="col-md-6">
        <div id="carouselExampleControls" class="  carousel slide carousel-fade" data-ride="carousel" width="auto" height="300">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/wedding-photos-Christian-Web-Host--1024x682.jpg" class="d-block w-100" width="auto" height="300">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/kt merry.jpg" class="d-block w-100" width="auto" height="300" >
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/indian.jpg" class="d-block w-100" width="auto" height="300" >
    </div>
    </div>
    </div>
    </div>
  </div>
</div>
<br>
<br>

<!-- ------------------------- card-3 ------------------------------------ -->
<div class="card mb-3  offset-lg-2" style="max-width: 750px;">
  <div class="row no-gutters">
      <div class="col-md-6">
          <div id="carouselExampleControls" class="  carousel slide carousel-fade" data-ride="carousel" width="auto" height="300">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/IMG-20190710-WA0020.jpg" class="d-block w-100" width="auto" height="300">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/IMG-20190710-WA0021.jpg" class="d-block w-100" width="auto" height="300" >
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/whitecorporate.jpg" class="d-block w-100" width="auto" height="300" >
      </div>
      </div>
      </div>
      </div>
      
      <div class="col-md-6"id="servicecard3" >
        <div class="card-body">
          <h5 class="card-title"id="servicecardheading3">Corporate Events....</h5>
          <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Party Services</a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Location & Venue</a>
            </li> 
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Catering Food</a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Photograpghy & Videography</a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Entertainment & Entertainers</a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Projectors & Speaker</a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Balloons & Flowers</a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Decor & Decorations</a>
            </li>
        </div>
      </div>
  </div>
</div>
<br>
<br>

<!-- ------------------------- card-4 ------------------------------------ -->
<div class="card mb-3  offset-lg-2" style="max-width: 750px;">
    <div class="row no-gutters">
      
      <div class="col-md-6"id="servicecard4">
        <div class="card-body">
          <h5 class="card-title"id="servicecardheading4">Social Events....</h5>
          <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Unique Party Venues</a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Catering & Food</a>
            </li> 
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Dance & Music</a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Entertainment & Etertainers</a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Arrangemets in open araes</a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>photographers & Videographers</a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Balloons & Flowers</a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Decor & Decorations</a>
            </li>
            <li>
                <a href="#">
                  <i class="far fa-arrow-alt-circle-right" aria-hidden="true"></i>Fireworks</a>
              </li>
        </div>
      </div>
      <div class="col-md-6">
          <div id="carouselExampleControls" class="  carousel slide carousel-fade" data-ride="carousel" width="auto" height="300">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/night.jpg" class="d-block w-100" width="auto" height="300">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/Dion-Events-Corporate-Event-Planner.jpg" class="d-block w-100" width="auto" height="300" >
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/SK_Banquet_Hall_Wedding_Hall_Events-1.jpg" class="d-block w-100" width="auto" height="300" >
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
  

<br>
</div>

<!-- =========================================================================== -->
<!--                                  *** QUOTE***                               -->
<!-- =========================================================================== -->
<div class="container-fluid text-center" >
  <br>
  <i class="fas fa-gifts" aria-hidden="true"></i>
  <br>
  <br>
  <br>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2 class="subheadquote"style="color:white">"A good life is a collection of happy moments."</h2> 
      </div>
      <div class="carousel-item">
        <h2 class="subheadquote"style="color:white">"We are here to create something special."</h2> 
      </div>
      <div class="carousel-item">
        <h2 class="subheadquote"style="color:white">"We keep adding new touches to keep them special events."</h2> 
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
<br>
<br>

<!-- =========================================================================== -->
<!--                                  *** REGISTER BOX***                        -->
<!-- =========================================================================== -->

    <div class="card registerbox ">
      <div class="card-body">
        <h5 class="card-title"id="registerline" >BOOK A DAY TO ADORE</h5> 
        <br>
<!-- ------------------------- LOGIN ------------------------------------ -->
     
        <button type="button" class="btn btn-outline-danger" id="button1" data-toggle="modal" data-target="#exampleModalCenter" >
          Login
        </button> &nbsp;
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">&nbsp; &nbsp;
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header"id="upperhead1">
                <h5 class="modal-title" id="exampleModalCenterTitle">Login Your Account</h5>
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1"id="loginline1">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1"id="loginline2">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <button type="submit" class="btn" id="button3" [routerLink]="['/order']"  data-dismiss="modal">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>


<!-- ------------------------- SIGNUP ------------------------------------ -->

<button type="button" class="btn btn-outline-danger" id="button2" data-toggle="modal" data-target="#exampleModalCenter1">
  Sign Up
</button> &nbsp;

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header"id="upperhead2">
        <h5 class="modal-title" id="exampleModalCenterTitle1">Sign Up Your Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <form action="" method="post" role="form" class="contactForm">
          <div class="form-group">
            <input type="text" class="form-control"id="signupline1"[(ngModel)]="FullName" name="name" placeholder="Enter Your Full Name"
              data-msg="Please enter at least 4 chars" />
           </div>
          <div class="form-group">
            <input type="email" class="form-control"id="signupline2" [(ngModel)]="email" name="email" placeholder=" Enter Your Email" 
              data-msg="Please enter a valid email" />
           </div>
           <div class="form-group">
            <input type="text" class="form-control"id="signupline3" [(ngModel)]="Address" name="Address" placeholder="Enter Your Full Address" 
              data-msg="Please enter a 4 chars" />
           </div>
           <div class="form-group">
            <input type="text" class="form-control"id="signupline4" [(ngModel)]="phone" name="Phone" placeholder="Enter Your Phone Number" 
              data-msg="Please enter a 4 chars" />
           </div>
           <div class="form-group">
            <input type="password" class="form-control" id="signupline5" [(ngModel)]="lastname" name="password" placeholder="Enter Your Password" 
              data-msg="Please enter at least 4 chars" />
           </div>
           <button type="submit" class="btn" id="button4" [routerLink]="['/order']"data-dismiss="modal">Submit</button>
           </form>
          </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
<!-- ************************************************************* DONE ********************************************************* -->
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
    