<app-portfolio></app-portfolio>

<br>
<br>

<div class="card-group">
  <div class="card">
    <img src="../../assets/images/CP3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Envato Author Corporate Party</h5>
      <p class="card-text"><small class="text-muted">Corporate Event, 14 May 2019</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/CP1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Envato Author Corporate Party</h5>
      <p class="card-text"><small class="text-muted">Corporate Event, 24 June 2016</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/CP2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">John Doe Corporate Party</h5>
      <p class="card-text"><small class="text-muted">Corporate Event, 14 May 2019</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/CP4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Envato Author Corporate Party</h5>
      <p class="card-text"><small class="text-muted">Corporate Event, 14 May 2019</small></p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img src="../../assets/images/CP5.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">John Doe Corporate Party</h5>
      <p class="card-text"><small class="text-muted">Corporate Event, 24 June 2016</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/CP6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Envato Author Corporate Party</h5>
      <p class="card-text"><small class="text-muted">Corporate Event, 24 June 2016</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/CP7.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">John Doe Corporate Party</h5>
      <p class="card-text"><small class="text-muted">Corporate Event, 14 May 2019</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/CP8.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">John Doe Corporate Party</h5>
      <p class="card-text"><small class="text-muted">Corporate Event, 24 June 2016</small></p>
    </div>
  </div>
</div>