
<!-- --------------------cards-------------------- -->
<section id="home">     
    <div id="carouselExampleControls" class="container carousel slide carousel-fade" data-ride="carousel" height="350px">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="card mb-3  col-lg-12 " style="height:501px;" >
                  <div class="row no-gutters">
                    <div class="col-md-4 col-lg-9">
                      <img src="../../assets/images/PinkShirtGala-121+copy.jpg" class="card-img"style="height:500px;padding-left-0px;padding-right:0px" alt="...">
                    </div>
                    <div class="col-md-8 col-lg-3">
                      <div class="card-body">
                        <h1 class="card-title"style="color:#992f4d;font-weight:bold;font-family: 'Kaushan Script', cursive;">EVERY</h1>
                        <h1 Class="card-title"style="color:#992f4d;font-weight:bold;font-family: 'Kaushan Script', cursive;"> EVENT</h1>
                        <h3 class="minhead"style="color:#992f4d; font-family: 'Courgette', cursive;">Should Be </h3>
                        <h3 class="minhead"style="color:#992f4d; font-family: 'Courgette', cursive;s">Perfect</h3>
                        <p class="card-text"style="color:#a19082;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="design"style="text-align:center;color:#a19082;">-----------------------</p>
                        <h1 class="design"style="text-align:center;font-size:80px;color:#a19082;">   ....   </h1>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3  col-lg-12 " style="height:501px;" >
                  <div class="row no-gutters">
                    <div class="col-md-4 col-lg-9">
                      <img src="../../assets/images/birthday (2).jpg" class="card-img"style="height:500px;padding-left-0px;padding-right:0px" alt="...">
                    </div>
                    <div class="col-md-8 col-lg-3">
                      <div class="card-body">
                          <h1 class="card-title"style="color:rgb(28, 121, 5);font-weight:bold;font-family: 'Kaushan Script', cursive;">BEST</h1>
                          <h1 Class="card-title"style="color:rgb(28, 121, 5);font-weight:bold;font-family: 'Kaushan Script', cursive;"> IDEAS</h1>
                          <h3 class="minhead"style="color:rgb(28, 121, 5); font-family: 'Courgette', cursive;">For Your </h3>
                        <h3 class="minhead"style="color:rgb(28, 121, 5); font-family: 'Courgette', cursive;">Birthday</h3>
                        <p class="card-text"style="color:#a19082;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="design"style="text-align:center;color:#a19082;">-----------------------</p>
                        <h1 class="design"style="text-align:center;font-size:80px;color:#a19082;">   ....   </h1>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3  col-lg-12 " style="height:501px" >
                  <div class="row no-gutters">
                    <div class="col-md-4 col-lg-9">
                      <img src="../../assets/images/corporate.jpg" class="card-img"style="height:500px;padding-left-0px;padding-right:0px" alt="...">
                    </div>
                    <div class="col-md-8 col-lg-3">
                      <div class="card-body">
                          <h1 class="card-title"style="color:rgb(29, 8, 102);font-weight:bold;font-family: 'Kaushan Script', cursive;">FRESH</h1>
                          <h1 Class="card-title"style="color:rgb(29, 8, 102);font-weight:bold;font-family: 'Kaushan Script', cursive;"> IDEAS</h1>
                          <h3 class="minhead"style="color:rgb(29, 8, 102); font-family: 'Courgette', cursive;">For Your </h3>
                          <h3 class="minhead"style="color:rgb(29, 8, 102); font-family: 'Courgette', cursive;">Corporation</h3>
                        <p class="card-text"style="color:#a19082;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="design"style="text-align:center;color:#a19082;">-----------------------</p>
                        <h1 class="design"style="text-align:center;font-size:80px;color:#a19082;">   ....   </h1>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3  col-lg-12 " style="height:501px" >
                  <div class="row no-gutters">
                    <div class="col-md-4 col-lg-9">
                      <img src="../../assets/images/event.jpg" class="card-img"style="height:500px;padding-left-0px;padding-right:0px" alt="...">
                    </div>
                    <div class="col-md-8 col-lg-3">
                      <div class="card-body">
                          <h1 class="card-title"style="color:rgba(145, 78, 3, 0.897);font-weight:bold;font-family: 'Kaushan Script', cursive;">WE</h1>
                          <h1 Class="card-title"style="color:rgba(145, 78, 3, 0.897); font-weight:bold;font-family: 'Kaushan Script', cursive;"> CARE</h1>
                          <h3 class="minhead"style="color:rgba(145, 78, 3, 0.897); font-family: 'Courgette', cursive;">About Your </h3>
                          <h3 class="minhead"style="color:rgba(145, 78, 3, 0.897); font-family: 'Courgette', cursive;">Event</h3>
                        <p class="card-text"style="color:#a19082;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="design"style="text-align:center;color:#a19082;">-----------------------</p>
                        <h1 class="design"style="text-align:center;font-size:80px;color:#a19082;">   ....   </h1>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
    </div>
    </div>

      <div class="card col-lg-3 offset-lg-3" id="boxes" style="width: 20rem; float: left;">
        <img src="../../assets/images/450_1000.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="topline">GREAT SERVICES</h5>
          <p class="middleclass">(Enjoy Your Best Day Ever) </p>
          <h5 class="topline">........</h5>
        </div>
      </div>

      <div class="card col-lg-3 offset-lg-6" id="boxes" style="width: 20rem;">
        <img src="../../assets/images/lightspace_LS1_wedding_alexnadia_0025-1024x681.jpg" class="card-img-top" >
        <div class="card-body">
          <h5 class="topline">GREAT IDEAS</h5>
          <p class="middleclass">(Create Your Special Day)</p>
            <h5 class="topline">........</h5>
        </div>
      </div>
     <br>
    </section>

    <!-- ---------------------welcome message-------------------------- -->
    <div class="container  " id="box-2" >
      <h1 class="heading" id="box-heading">WELCOME MESSAGE</h1>
      <br>
      <br>
      <h5 class="subheading" id="box-subheading">"We are made for goodness.We are made for love. We are made for friendliness. We are made for togetherness. We are made for beautiful things.We welcome you to the world of events with best and unique ideas."</h5>
      <h5 class="subheading"id="box-subheading">"Let's make your dream event unforgettable.</h5>
      <h5 class="subheading"id="box-subheading">We welcome you to the world of events with best and unique ideas.</h5>
      <h4 class="card-title"style="text-align:center;font-size:80px;color:rgb(187, 125, 33)">........</h4>
      <br>
      <br>
      <br>
    </div>
<br>
<br>
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
<!-- ************************************************************* DONE ********************************************************* -->
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->